@page
@using NTDLS.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <a href="http://NetworkDLS.com/">NetworkDLS</a> <a href="https://github.com/NTDLS/KitKey">KitKey</a> version @Model.ApplicationVersion<br />

    <div class="container mt-4">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="6">Service Configuration</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Listen Port</th>
                    <th>Async. Ack.</th>
                    <th>Ack. Timeout</th>
                    <th>Initial Buffer</th>
                    <th>Max. Buffer</th>
                    <th>Buffer Growth Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ServerConfig.ListenPort</td>
                    <td>@Model.ServerConfig.AsynchronousAcknowledgment</td>
                    <td>@Model.ServerConfig.AcknowledgmentTimeoutSeconds.ToString("n0")</td>
                    <td>@Formatters.FileSize(Model.ServerConfig.InitialReceiveBufferSize, 2)</td>
                    <td>@Formatters.FileSize(Model.ServerConfig.MaxReceiveBufferSize, 1)</td>
                    <td>@((Model.ServerConfig.ReceiveBufferGrowthRate * 100).ToString("n0"))%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container mt-4">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="9">Key-Stores</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Current</th>
                    <th>Sets</th>
                    <th>Gets</th>
                    <th>Deletes</th>
                    <th>Cache Hits</th>
                    <th>Cache Misses</th>
                    <th>Db Hits</th>
                    <th>Db Misses</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var store in Model.Stores)
                {
                    <tr>
                        <td><a href="/store/@store.StoreName">@store.StoreName</a></td>
                        <td><a href="/messages/@store.StoreName">@store.CurrentValueCount.ToString("n0")</a></td>
                        <td>@store.SetCount.ToString("n0")</td>
                        <td>@store.GetCount.ToString("n0")</td>
                        <td>@store.DeleteCount.ToString("n0")</td>

                        <td>@store.CacheHits.ToString("n0")</td>
                        <td>@store.CacheMisses.ToString("n0")</td>
                        <td>@store.DatabaseHits.ToString("n0")</td>
                        <td>@store.DatabaseMisses.ToString("n0")</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
