@page "/store/{StoreName}"
@model StoreModel
@{
    ViewData["Title"] = $"{@Model.StoreName} Store";
}

<div>
    <h6 class="display-6">@Model.Store.StoreName</h6>

    <div class="container mt-4">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="4">Configuration</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Persistence</th>
                    <th>Cache Expiration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Store.PersistenceScheme</td>
                    <td>@Model.Store.CacheExpiration</td>
                    <td>
                        @Html.Raw(ConfirmActionHelper.GenerateDangerLink(
                                 $"Deleting the key-store '{@Model.Store.StoreName}' will result in permanent key-value loss. Continue?",
                                 "Delete", $"/DeleteStore/{@Model.Store.StoreName}"))
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="10">Key-Stores</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Current</th>
                    <th>Sets</th>
                    <th>Gets</th>
                    <th>Deletes</th>
                    <th>Cache Hits</th>
                    <th>Cache Misses</th>
                    <th>Db Hits</th>
                    <th>Db Misses</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/store/@Model.Store.StoreName">@Model.Store.StoreName</a></td>
                    <td><a href="/messages/@Model.Store.StoreName">@Model.Store.CurrentValueCount.ToString("n0")</a></td>
                    <td>@Model.Store.SetCount.ToString("n0")</td>
                    <td>@Model.Store.GetCount.ToString("n0")</td>
                    <td>@Model.Store.DeleteCount.ToString("n0")</td>

                    <td>@Model.Store.CacheHits.ToString("n0")</td>
                    <td>@Model.Store.CacheMisses.ToString("n0")</td>
                    <td>@Model.Store.DatabaseHits.ToString("n0")</td>
                    <td>@Model.Store.DatabaseMisses.ToString("n0")</td>

                    <td>
                        @Html.Raw(ConfirmActionHelper.GenerateDangerLink(
                                 $"Purging the key-store '{@Model.Store.StoreName}' will result in permanent key-value loss. Continue?",
                                 "Purge", $"/PurgeStore/{@Model.Store.StoreName}"))
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>
