@page "/store/{StoreKey}"
@model StoreModel
@{
    ViewData["Title"] = $"{@Model.StoreKey} Store";
}

<div>
    <h6 class="display-6">@Model.Store.StoreKey</h6>

    <div class="container mt-4">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="4">Configuration</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Persistence</th>
                    <th>Cache Expiration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Store.PersistenceScheme</td>
                    <td>@Model.Store.CacheExpiration</td>
                    <td>
                        @Html.Raw(ConfirmActionHelper.GenerateDangerLink(
                                 $"Deleting the key-store '{@Model.Store.StoreKey}' will result in permanent key-value loss. Continue?",
                                 "Delete", $"/StoreDelete/{@Model.Store.StoreKey}", "btn-thin"))
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="10">Key-Stores</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Current</th>
                    <th>Sets</th>
                    <th>Gets</th>
                    <th>Deletes</th>
                    <th>Cache Hits</th>
                    <th>Cache Misses</th>
                    <th>Db Hits</th>
                    <th>Db Misses</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/store/@Model.Store.StoreKey">@Model.Store.StoreKey</a></td>
                    <td>@Model.Store.CurrentValueCount.ToString("n0")</td>
                    <td>@Model.Store.SetCount.ToString("n0")</td>
                    <td>@Model.Store.GetCount.ToString("n0")</td>
                    <td>@Model.Store.DeleteCount.ToString("n0")</td>

                    <td>@Model.Store.CacheHits.ToString("n0")</td>
                    <td>@Model.Store.CacheMisses.ToString("n0")</td>
                    <td>@Model.Store.DatabaseHits.ToString("n0")</td>
                    <td>@Model.Store.DatabaseMisses.ToString("n0")</td>

                    <td>
                        @Html.Raw(ConfirmActionHelper.GenerateDangerLink(
                                 $"Purging the key-store '{@Model.Store.StoreKey}' will result in permanent key-value loss. Continue?",
                                 "Purge", $"/StorePurge/{@Model.Store.StoreKey}", "btn-thin"))
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>
